<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="ISO-8859-1">
<title>Bhishi-App</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container mt-3">
			<div class="jumbotron">
				<h5>This application is for keep record of bhishi. Normally
					people makes their group and start bhishi, so this app help them to
					keep track on events among their group regarding with bhishi.</h5>
				<h5>It is a long established fact that a reader will be
					distracted by the readable content of a page when looking at its
					layout. The point of using Lorem Ipsum is that it has a
					more-or-less normal distribution of letters, as opposed to using
					'Content here, content here', making it look like readable English.
					Many desktop publishing packages and web page editors now use Lorem
					Ipsum as their default model text, and a search for 'lorem ipsum'
					will uncover many web sites still in their infancy. Various
					versions have evolved over the years, sometimes by accident,
					sometimes on purpose (injected humour and the like).</h5>
			</div>
		</div>

	</div>
</body>
</html>